<div class="card text-info" style="width: 18rem; background-color: black;">
    <img src="<%= ruta %>" class="card-img-top" alt="..." height="400px">
    <div class="card-body">
      <h5 class="card-title"><%=Libro%></h5>
      <p class="card-text"> Autor: <%= Autor %> </p>
      <p class="card-text"><%= Edicion %> </p>
      <a href="/libro/<%=Id %> " class="btn btn-primary m-2">Ver más...</a>
    </div>
  </div>