<%- include ("./partials/cabecera") %> 
<%- rolAdmin!=false?include("./partials/navbar"):include("./partials/navbarUser")%> 

<h1 class="text-info text-center mb-5"><b>Bienvenidos a LEGION DARK</b></h1>


<%- include ("./partials/carrusel") %> 

<div class=" text-center mt-5 mb-5">
    <br>
    <h3><b>Aquí encontraras una colección de los servicios mas amados por nuestros clientes.</b></h3>

</div>

<div class=" w-75 container text-center">
    <div class="row row-cols-auto">
        
    </div>
</div>


<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 