<%- include ("./partials/cabecera") %> 
<%- rolAdmin!=false?include("./partials/navbar"):include("./partials/navbarUser")%> 

<style>

   
@media (max-width: 1700px) {
    .formulario{
      width: 40%;
    }
}
    
  @media (max-width: 600px) {
    .formulario{
      width: 100%;
      height: 100%;
    }
    .email .password {
      min-width: 80%;
    }
  }
  </style>
<div class="text-center mt-5 mb-5">

    <form class="container formulario col-3 mt-5" action="/passwordNew" method="post">
        <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal text-info">Ingresa tu nueva contraseña</h1>
        <input type="text" name="email" class="form-control email" value="<%=correo%>" hidden>
    
        <div class="form-floating text-dark mt-5">
          <input type="password" name="password" class="form-control email" placeholder="Nueva contraseña" required>
          <label for="floatingInput" class="">Nueva contraseña</label>
        </div>
        <div class="form-floating text-dark mt-5">
            <input type="password" name="password2" class="form-control email mt-3" placeholder="Nueva contraseña" required>
            <label for="floatingInput" class="">Repite contraseña</label>
          </div>
    
        <div class="checkbox mb-3">
    
        </div>
        
        <button class="w-100 mt-4 btn btn-lg btn-info" type="submit">Restaurar</button>
       
      </form>
      <br>
      <a href="/login" class="forgot-password1 mt-4">Iniciar sesión</a>
      <br>
      <a href="/register" class="forgot-password1 mt-4">Registrarse</a>


    </div>
<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 