<%- include ("./partials/cabecera") %> 
<%- rolAdmin!=false?include("./partials/navbar"):include("./partials/navbarUser")%> 

<h1 class="text-info text-center mb-5"><b>Su pedido a sido completado exitosamente</b></h1>

<script>
   
   setTimeout("location.href='/mispedidos'",10000)

    
</script>



<div class=" text-center mt-5 mb-5">
    <br>

</div>

<div class=" w-75 container text-center">
    <div class=" m-auto bg-success pt-3 pb-4"  style="border-radius: 20px">

        <h2 class="m-auto  ">Orden successfull</h2>
        <p class="mt-3"> <b>ID: <%= orden.id  %></b></p>
        <p><b>Servicio: <%= servicioEscogido.Nombre+' '+servicioEscogido.Descripcion  %></b></p>
        <p><b>Link: <%= orden.link  %></b></p>
        <p><b>Cantidad: <%= orden.cantidad  %></b></p>
        <p><b>Precio: $ <%= orden.precio  %></b></p>
    </div>
</div>


<%- include ("./partials/footer") %> 
<%- include ("./partials/pie") %> 